{% extends "pages/base.html" %}
{% block subtitulo %}Pedidos{% endblock %}
{% block conteudo %}
<h1 class="display-5"><b>Meus Pedidos</b></h1>
<hr>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Código</th>
            <th>Data</th>
            <th>Valor Total</th>
            <th>Situação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0001</td>
            <td>02/05/2024</td>
            <td>10,00</td>
            <td>Pagamento não Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/cliente/cartaoform">
                    Confirmar Pagamento
                </a>
            </td>
        </tr>
        <tr>
            <td>0002</td>
            <td>18/05/2024</td>
            <td>8,50</td>
            <td>Pagamento não Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/cliente/cartaoform">
                    Confirmar Pagamento
                </a>
            </td>
        </tr>
        <tr>
            <td>0003</td>
            <td>10/06/2024</td>
            <td>17,00</td>
            <td>Pagamento não Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/cliente/cartaoform">
                    Confirmar Pagamento
                </a>
            </td>
        </tr>
        <tr>
            <td>0004</td>
            <td>15/06/2024</td>
            <td>20,00</td>
            <td>Pagamento não Confirmado</td>
            <td>
                <a class="btn btn-danger btn-sm" href="/cliente/cartaoform">
                    Confirmar Pagamento
                </a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}